extends ./layout.pug

block title
  title Freevue - Rock Paper Scissors
block content
  script.
    const roomId = '#{roomId}'
    const name = '#{name}'

    socket.emit('join room', roomId, name)
    socket.emit('chat message', roomId, name)

  section.main-wrap
    header
      div.inner
        button.share-btn(value=roomId) 공유하기
    article
      div.rps-area 준비중입니다..
      div.chat-area
        include ./chat.pug

  script.
    const $shareBtn = document.querySelector('.share-btn')

    $shareBtn.onclick = (event) => {
      event.preventDefault()

      const shareUrl = `${location.origin}/share/${event.target.value}`
      const tempElem = document.createElement('textarea')

      tempElem.value = shareUrl
      document.body.appendChild(tempElem)

      tempElem.select()
      document.execCommand('copy')
      document.body.removeChild(tempElem)

      alert('복사되었습니다.')
    }
